<h1>Masters</h1>
<div class="mat-elevation-z8 table-container">
  <table mat-table class="full-width-table" aria-label="Elements">
    <!-- DID Column -->
    <ng-container matColumnDef="did">
      <th mat-header-cell *matHeaderCellDef>DID</th>
      <td mat-cell *matCellDef="let row">{{row.did}}</td>
    </ng-container>

    <!-- Subjects Column -->
    <ng-container matColumnDef="subjects">
      <th mat-header-cell *matHeaderCellDef>Subject</th>
      <td mat-cell *matCellDef="let row">{{row.subjects.join(', ')}}</td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
        <div class="example-element-detail"
             [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'">
          <mat-form-field>
            <mat-label>Subject</mat-label>
            <mat-select #subjectSelect [disabled]="!!(loading$ | async)">
              <mat-option *ngFor="let subject of row.removableSubjects" [value]="subject" >{{subject}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button [disabled]="!subjectSelect.value || !!(loading$ | async)" (click)="proposeRemoval(row.did, subjectSelect.value)" >
            Propose Revocation
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? undefined : row"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>

  <mat-paginator #paginator
      [length]="(dataSource?.length$ | async) || 0"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
