<ng-container *ngIf="canMakeProposal$ | async">
  <h1>Make Proposal</h1>
  <mat-form-field>
    <mat-label>DID</mat-label>
    <input matInput [formControl]="did" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Subject</mat-label>
    <mat-select [disabled]="!!(loading$ | async)" [formControl]="subject">
      <mat-option *ngFor="let _subject of subjectsCanProposeIn$ | async" [value]="_subject" >{{_subject}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button [disabled]="!!(loading$ | async)" (click)="submitProposal()" >Propose Master Credential</button>
</ng-container>
<app-masters-table></app-masters-table>
<app-master-proposals-table></app-master-proposals-table>
