<h1>Issue Credential</h1>
<mat-form-field>
  <mat-label>DID</mat-label>
  <input [formControl]="did" required>
</mat-form-field>
<mat-form-field>
  <mat-label>Subject</mat-label>
  <mat-select [formControl]="subject" required>
    <mat-option *ngFor="let subject of (issuableSubjects$ | async) || []" [value]="subject">{{subject}}</mat-option>
  </mat-select>
</mat-form-field>
<button mat-button [disabled]="!!(loading$ | async)" (click)="issueCredential()">Issue</button>
<app-held-credentials-table></app-held-credentials-table>
<app-issued-credentials-table></app-issued-credentials-table>
