<button (click)="reload()" >Reload</button>
<br>
<p>Masters:</p>
<p [innerText]="displayJSON(masters)" ></p>
<br>
<br>
<p>Subjects:</p>
<p [innerText]="displayJSON(subjects)" ></p>
<br>
<br>
<p>Subject Votes:</p>
<div *ngFor="let vote of subjectProposals">
  <p [innerText]="displayJSON(vote)"></p>
  <button (click)="voteOnSubject(vote[1], true)" >Vote For</button>
  <button (click)="voteOnSubject(vote[1], false)" >Vote Against</button>
  <br>
</div>
<br>
<br>
<p>Make Subject Proposal:</p>
<input [(ngModel)]="subjectProposalParent" >
<input [(ngModel)]="subjectProposalChild" >
<button (click)="makeSubjectProposal(true)" >Propose Addition</button>
<button (click)="makeSubjectProposal(false)" >Propose Removal</button>
<br>
<br>
<p>Credentials:</p>
<p [innerText]="displayJSON(credentials)"></p>
<br>
<br>
<p>Test:</p>
<input [(ngModel)]="testDetails">
<button (click)="test()">Test</button>
<p [innerText]="testResult"></p>
<br>
<br>
<p>Issue:</p>
<input [(ngModel)]="issueDetails" >
<button (click)="issue()" >Issue</button>
<br>
<br>
