<ng-container [ngSwitch]="state">
  <ng-container *ngSwitchCase="states.InitialConfigMissing">
    <mat-form-field>
      <mat-label>tails server url</mat-label>
      <input matInput [(ngModel)]="tailsServerUrl">
    </mat-form-field>
    <mat-form-field>
      <mat-label>index</mat-label>
      <input matInput type="number" [(ngModel)]="index">
    </mat-form-field>
    <mat-form-field>
      <mat-label>app port</mat-label>
      <input matInput type="number" [(ngModel)]="appPort">
    </mat-form-field>
    <button mat-button (click)="submitInitialConfig()" >Submit</button>
  </ng-container>

  <ng-container *ngSwitchCase="states.WaitingForAries">
    <p [innerText]="ariesTerminalCommand"></p>
    <button mat-button (click)="getAriesTerminalCommand()">Get aries command</button>
    <button mat-button (click)="ariesIsRunning()">Done</button>
  </ng-container>

  <ng-container *ngSwitchCase="states.WaitingForPublicDID">
    <p [innerText]="did"></p>
    <p [innerText]="verkey"></p>
    <button mat-button (click)="generateDID()">Create DID</button>
    <button mat-button (click)="submitPublicDID()">Done</button>
  </ng-container>

  <ng-container *ngSwitchCase="states.WaitingForInitialisation">
        <mat-button-toggle-group [(ngModel)]="appType" >
          <mat-button-toggle [value]="appTypes.USER">user</mat-button-toggle>
          <mat-button-toggle [value]="appTypes.MASTER">master server</mat-button-toggle>
        </mat-button-toggle-group>

        <mat-form-field *ngIf="appType === appTypes.USER">
          <mat-label>master server DID</mat-label>
          <input matInput [(ngModel)]="masterServerDID">
        </mat-form-field>
        <mat-form-field *ngIf="appType === appTypes.USER">
          <mat-label>label</mat-label>
          <input matInput [(ngModel)]="label">
        </mat-form-field>
    <button mat-button (click)="initialise()">Submit</button>
  </ng-container>

</ng-container>
